header {
  background-image: url("../images/backgrounds/bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 667px;
}
  /* Logo */
.logo {
  position: absolute;
  top: 51px;
  left: 69px;
}
  
.logo-img {
  width: 207px;
  height: 25.26px;
}
/* Barre de recherche */
.search-bar {
  position: absolute;
  top: 450px;
  left: 150px;
  width: 954px;
  height: 50px;
  text-align: center;
  z-index: 1; /* Pour être au-dessus de l'image */
}

.search-input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.search-button{
  position: absolute;
  background-color: black;
  color: white;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  top: 10px;
  right: -10px;
}

.search-button:hover {
  color: black;
  background-color: #FFD15B;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(235, 230, 230);
}

.recipes-container{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 75px;
 
}

.recipes-select select {
  width:23%; 
  padding: 8px;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: none;
}

.display-div{
  display: flex;
}
.recipes-select {
  display: flex;
  gap: 60px;
  margin-left: 100px;
}
.recipe-count{
  font-weight: bold;
  font-size: 21px;
  margin-top: 28px;
  margin-left: 240px;
}


.recipeCardContainer{
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 25px;
 
 
 
}
.recipeCard{
  
border-radius: 20px;
background-color: white;
  
}
.recipeCardImage{
  position: relative;
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}
.recipe-time{
position: absolute;
background-color: #FFD15B;
font-size: 12px;
z-index: 1;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
margin-top: 10px;
margin-left: 250px;
}
.descriptionDiv{
  padding: 25px;
}
.header-hover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffd15b;
  font-family: Anton;
  font-size: 44px;
  font-weight: 400;
  line-height: 66.24px;
  text-align: center;
}

.recipeDescription{
  font-size: 14px;
  overflow: hidden; /* Cache le contenu qui dépasse */
  display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; /* Limite le contenu à 5 lignes */
}
.recipeDescriptionTitle, .ingredientsTitle {
color: #7A7A7A;
font-family: Manrope;
font-size: 12px;
text-decoration-skip-ink: none;
}

